@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section{
  position: relative;
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d6b29f;
  transition: 0.5;
}

.circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b1644c;
  clip-path: circle(70% at right -20%);
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo{
  position: relative;
  max-width: 100px;
}
.menu ul {
  padding:0px;
  margin:0px;
  list-style:none;
}

.menu ul li { display: inline; }
.menu ul li a {
  padding: 2px 10px;
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-weight: 400;
}
.menu ul li a:hover {
  color: #f7f7f7;
  border-bottom:2px solid #000000;
}

.content
{
  bottom: 20px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textBox{
  position: relative;
  max-width: 500px;
}
.content .textBox h1{
  color: black;
  font-size: 4em;
  line-height: 1em;
  font-weight: 800;
  text-transform: uppercase;
} 
.content .textBox h2{
  color: rgb(145, 33, 33);
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
} 
.content .textBox p{
  color: rgb(0, 0, 0);
  font-size: 1em;
}
.content .imgBox{
  width: 300px;
  display: flex;
  padding-right: 50px;
  margin-top: 5px;
  justify-content: flex-end;
}
.content .imgBox:hover{
  transform: translateX(-20px);
}
.content .imgBox img{
  max-width: 400px;
}

.thumb{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}
.thumb li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover{
  transform: translateY(-15px);
}
.thumb li img{
  max-width: 50px;
} 

.social{
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li{
  list-style: none;
}
.social li:hover{
  transform: translateY(-15px);
}
.social li a{
  position: relative;
  display: inline-block;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  background: #80331d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.social li a img{
  filter: invert(1);
  transform: scale(0.5);
}

#newsletter {
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%; 
  background-color: #dd981944; 
  font-size:18px; 
  color: #FFF; 
  float:left; 
  text-align:center; 
  line-height:50px; 
  border-radius: 50px;
}
#newsletter input {
  padding: 5px;
  border: none;
  outline: none;
  font-size: 15px;
}
#newsletter button#submit{
  background-color: #80331d;
  border: none;
  padding: 5px;
  color: white;
  font-size: 15px;
}
#newsletter button#submit:hover{
  background-color: #659e4abe;
  cursor: pointer;
}
  
section.products{
  background: #b1644c;
}
section.products h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px; 
  text-shadow: 6px 4px 2px rgba(66, 66, 73, 0.7);
}
section.products ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; 
}
section.products ul li {
  flex: 1;
  max-width: 26%;
  font-size: 18px;
  line-height: 24px;
  text-align: center; 
}
section.products ul li img {
  max-height: 120px; 
}
section.products img:hover{
  transform: translateY(-20px);
}

footer {
  flex-direction: row;
  padding: 24px 10%; 
  background: #80331d;
}

